*{
    margin: 0;
}

header{
    background-image: url(./fstimg.png);
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-size: cover;
}
#toggle{
    display: none;
}
.fa-plus{
    float: right;
    position: relative;
    margin-right: 50px;
    margin-top: 50px;
    width: 50px;
    height: 55px;
    font-size: 50px;
    background-color: white;
    border-radius: 50%;
    padding-left: 5px;
}
.list a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.list{
    width: 100px;
    padding: 20px;
    text-align: justify;
    background-color: white;
    display: block;
    float: right;position: relative;
    top: 120px;
    left: 50px;
    line-height: 30px;
    border-radius: 10px;
}
#toggle:checked~.list{
    display: none;
}
.div1{
    margin-left: 30%;
    width: 40%;
    text-align: center;
}
.div1 h1{
    padding-top: 25%;
    color: white;
    font-size: 60px;
    font-weight: 800;
}
.div1 h2{
    margin-top: 20px;
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.div1 p{
    color: white;
    font-size: 20px;
}
.para{
    margin-top: 30px;
    line-height: 40px;
}
span{
    background-color: gray;
    padding: 5px;
}
.subdiv{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.bar,.download{
    width:8rem;
    height: 1.5rem;
    background-color: white;
    padding: 19px;
}
.features{
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./2ndimg.png);
    h2{
        color: white;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        padding-top: 60px;
        margin-bottom: 60px;
    }
}
.features1{
    display: flex;
    place-content: center;
}
.features1-1{
    width: 20%;
    height: 300px;
    text-align: center;
    background-color: white;
    border: 10px solid rgba(128, 128, 128, 0.507);
   h1{
    margin-top: 30px;
    margin-bottom: 30px;
   }
}
.features1-1-1{
    background-color: rgba(69, 130, 186, 0.748);
    height: 350px;
    margin-top: -30px;
    border-top: 10px solid  rgba(80, 144, 204, 0.748)  ;
    border-bottom: 10px solid rgba(80, 144, 204, 0.748) ;
    border-left: none;
    border-right: none;
}
.downloads{
    background-image: url(./3rdimg.jpg);
    padding: 50px;
    text-align: center;
    h2{
        color: white;
        font-size: 30px;
        font-weight: 400;
        padding-top: 60px;
        padding-bottom: 50px;
    }
    h1{
        color: white;
        font-size: 50px;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    p{
        color: white;
        line-height: 30px;
    }
    img{
        margin-top: 30px;
        width: 200px;
    }
}
.contact{
    text-align: center;
    background-image: url(./2ndimg.png);
    padding: 50px;
    h1{
        color: white;
        font-size: 50px;
        font-weight: 400;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    p{
        color: white;
        line-height: 30px;
    }
}
.contact h1::before{
    content: "....   ";
   position: relative;
   bottom: 6px;
}
.contact h1::after{
    content: "  ....";
   position: relative;
   bottom: 6px;
}
.downloads h2::after{
    content: "    ....";
   position: relative;
   bottom: 6px;
}
.downloads h2::before{
    content: "....   ";
   position: relative;
   bottom: 6px;
}
.features h2::after{
    content: "    ....";
   position: relative;
   bottom: 6px;
}
.features h2::before{
    content: "....   ";
   position: relative;
   bottom: 6px;
}
input,label{
    margin-top: 40px;
    background-color: transparent;
    font-size: 30px;
    border: none;
}
hr{
    width: 30%;
    margin: auto auto;
    margin-top: 7px;
    height: 1px;
    background-color: white;
}
button{
    width: 14%;
    height: 50px;
    background-color:rgba(84, 140, 193, 0.437);
    color: white;
    font-size: 20px;
    border-bottom: 5px solid white;
    border-right: none;
    margin-left: 16.5%;
    margin-top: 30px;
}
.fa-brands{
    font-size: 60px;
    margin: 20px;
    margin-top: 40px;
    width: 90px;
}
footer{
    height: 80px;
    text-align: center;
    line-height: 80px;
}
@media screen and (max-width:425px) {
    .list{
        display: none;
        margin-bottom: 30px;
    }
    #toggle:checked~.list{
        display: block;
    }
    .div1{
        margin-left: 15%;
        width: 70%;
        text-align: center;
    }
    .bar,.download{
        margin: 20px;
    }
    .div1 h1{
        padding-top: 40%;
        font-size: 40px;
    }
    .div1 h2{
        margin-top: 10px;
        font-size: 20px;
    }
    .div1 p{
        font-size: 15px;
    }
    .para{
        margin-top: 10px;
        line-height: 30px;
    }
    .features1{
        flex-direction: column;
    }
    .features1-1{
        width: auto;
        height: 300px;
    }
    input,label{
        font-size: 20px;
    }
    hr{
        width: 90%;
    }
    button{
        width: auto;
        height: auto;
        font-size: 30px;
        padding: 10px;
    }
}
@media screen and (min-width:425px) and (max-width:768px) {
    .list{
        display: none;
    }
    #toggle:checked~.list{
        display: block;
    }
    .div1{
        margin-left: 10%;
        width: 80%;
    }
    .features1{
        flex-wrap: wrap;
        gap: 20px;
        row-gap: 50px;
    }
    .features1-1{
        width: 300px;
        height: auto;
    }
    .features1-1-1{
        margin-bottom: -20px;
    }
    input,label{
        font-size: 20px;
    }
    hr{
        width: 50%;
    }
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .div1{
        margin-left: 9%;
        width: 70%;
        text-align: center;
    }
    .features1{
        flex-wrap: wrap;
        gap: 20px;
        row-gap: 50px;
    }
    .features1-1{
        width: 300px;
        height: auto;
    }
    .features1-1-1{
        margin-bottom: -20px;
    }
    input,label{
        font-size: 20px;
    }
    hr{
        width: 40%;
    }
}